/* =============
   GIF
============= */
.gif{

   
   background-color: black;
   
   

   h3{
      text-align: center;
      color: $white;
   }

   p{
      text-align: center;
      color: $white;
   }

   
}