/* =============
    gift cards, coupons
============= */
.gift-cards{

    

   .container{
        gap:10px;
        display: block;
        background-color: white;
        border-radius: 15px;
        padding: 15px 10px 15px 10px;
        margin: 25px;
        display: flex;
        justify-content: space-between;
        display: flex;

   }
}