/* =============
    gift cards, coupons
============= */
.gift-cards{

    background-color: black;
    display: grid;
    grid-template-columns: 5px auto 5px;
    grid-template-areas: ". content .";
    padding: 0px 5px 20px 5px;

    .gift-card-card{
        background-color: white;
        border-radius: 8px;
        padding: 5px 10px 5px 10px;
        line-height: 0.5;
        display: flex;
        justify-content: space-between;
        
        img{
            padding-left: 125px;
        }

        h3{
            font-size: 14px;
            margin: 0px 5px 0px 5px;
            line-height: 20px;
            display: flex;
            color: $textgray;
            
        }

        @include md{
            gap:10px;
            
            
            grid-template-areas:
            ". total ."
            ;
        }
   
        @include xl{
            grid-template-columns: auto 1140px auto;
        }
   
        @include xxl{
            grid-template-columns: auto 1320px auto;
        }


    }

}