/* =============
    Hero
============= */



.hero{

    
        padding: 40px;
        background-color: $black;
      


   


        p{
                
                font-size: 20px;
                font-weight: bold;
                line-height: 1;
                text-align: center;
                color: #fff;


            
        }     
            
        .Get-Started-Button {
            text-align: center;

            button{
                border-radius: 30px;
                background-color: #fff;
                border: none;
                padding: 20px 40px;
            }
        }
              
        
        
    


      
}


