/* =============
    hero photos
============= */
.hero-photos{

    background-color: $black;


    ul{
        list-style: none;
        padding-left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
       
        @include md{
            border-radius: 10%;
            gap: 70px;
            background-color: $purple;
        }

        
    }

    .content{


        p{
            
            font-weight:lighter;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            padding-top: 50px;
            color: #FFFFFF;
        }
    }
}