/* =============
   order number
============= */
.order-number{

   background-color: black;

   .content{

      p{
         color: $gray;
         font-size: 20px;
         line-height: 28.64px;
         text-align: center;
      }
   }
}