/* =============
    order total
============= */
.total{
    
    background-color: black;
    display: grid;
    grid-template-columns: 5px auto 5px;
    grid-template-areas: ". content .";
    padding: 20px 5px 20px 5px;
    padding-top: 75px;

    @include md{
        padding-top: 150px;
    }

    



    .total-card{

        background-color: white;
        border-radius: 8px;
        padding: 5px 10px 5px 10px;
        line-height: 0.5;

        @include md{
            gap:10px;
            
            
            grid-template-areas:
            ". total ."
            ;
        }
   
        @include xl{
            grid-template-columns: auto 1140px auto;
        }
   
        @include xxl{
            grid-template-columns: auto 1320px auto;
        }

        .total-grid{

            display: grid;
            grid-template-columns: 1fr;

            .total-grid-row{
                display: grid;
                grid-template-columns: 1fr 1fr;

                h1{
                    font-size: 15px;
                    margin-top: 15px;
                    color: $textgray;
                }

                .price{
                    text-align: right;
                    color: $textgray;
                }

                p{
                    font-size: 10px;
                    color: $gray;
                }

                .p-color{
                    color: $textgray;
                    font-size: 15px;
                    padding: 0px;
                }
            }
        }
   
    }

    

    
}

.desktop-container{

    @include md{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-areas: 
        'total button'
        'payment .'
        'address .'
        'shipment .'
        'giftcard .'
        ;

        .total{
            grid-area: total;
        }

        .payment{
            grid-area: payment;
        }

        .address{
            grid-area: address;
        }

        .shipment{
            grid-area: shipment;
        }

        .gift-card{
            grid-area: giftcard;
        }

        .button{
            grid-area: button;
        }
    }
}