/* =============
    Pricing
============= */
.pricing{
    background-color: black;

    .pricing-cards{

        @include md{
            gap:10px;
            display:grid;
            grid-template-columns: 15px auto 15px;
            grid-template-areas:
            ". pricing ."
            ;
        }

        @include xl{
            grid-template-columns: auto 1140px auto;
        }

        @include xxl{
            grid-template-columns: auto 1320px auto;
        }

        .pricing-grid{

            gap:10px;

           .container{
            gap:10px;
            display: block;
            background-color: white;
            border-radius: 20px;
            padding: 15px 10px 35px 10px;
            margin: 20px;
           }

            @include md{
                grid-area: pricing;
            }

            @include lg{
                display: grid;
                grid-template-columns: 1fr 1fr;

            }

            li{
                background-color: $white;
                list-style:none;
                padding-left: 0;
                

                
            }

            ul{
                list-style:none;
                padding-left: 0;
                
            }

            a{
                color: $darkpurple;
                background-color: $purple;
                padding:10px 20px 10px 20px;
                text-decoration: none;
                text-align: center;
                border-radius: 40px;
                justify-content: center;
            }

            &.pricing-1{
                @include md{
                    grid-area: a1;
                    

                }

                
               
            }
    
            &.pricing-2{
                @include md{
                    grid-area: a2;
                    
                }

                
            }
        }

    }

    

    .type{

        h2{
            font-size: 20px;
            color: $darkpurple;
            text-align: center;
        }

        p{
            font-size: 18px;
            color: $purple;
            text-align: center;

        }
    }
}