/* =============
    Footer
============= */
.footer{

    background-color: $black;

    .footer-text{

        p{
            font-size: 16;
            color: $purple;
            text-align: center;
        }
    }

    li{
        list-style: none;
        padding-left:0;
        display: inline-block;
    }
}