/* =============
    Navigation
============= */
nav {
    display: none;
	background-color: $black;
	height: 100vh;
	padding: 16px;
	position: absolute;
	right: 0;
	top: 0;
	width: 50vw;
    color: $white;
	@include lg {
		background-color: $black;
		display: block;
		height: 100%;
		padding: 0;
		position: relative;
		width: 100%;
        color: $white;
	}
	div {
		display: flex;
		justify-content: flex-end;
		button {
			background-color: transparent;
			border: none;
			color: $white;
            .img{
                width:20px;
            }
			
			&:hover{ 
				cursor: pointer; 
			}
		}
	}

    img{
        width: 20px;
    }
	ul {
		height: 100%;
		padding-top: 20%;

        .color{
            color: $white;
        }
        
		@include lg {
			align-items: center;
			display: flex;
			justify-content: flex-end;
			padding-top: 0;
            color: $white;
		}
		li {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 24px;
			text-align: right;

            
            

            
			@include lg {
				border-left: 1px solid $black;
				margin-bottom: 0;
				margin-left: 16px;
				padding-left: 24px;
                color: $white;
			}
			a:link,
            a:visited {
				color: white;
				font-size: 20px;
				font-weight: 300;
				text-decoration: none;
				transition: 0.25s;
				@include lg {
					color: $white;
                    font-size: 12px;
                    font-weight: 400;
                    
				}
				&:hover,
                &:active {
					color: #7d7d7d;
				}
			}
			&:first-child {
				border: none;
			}
		}
	}
}
